@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&family=Montserrat:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  /* font family */
  --font-display: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-heebo: 'Heebo', sans-serif;

  /* color */
  --color-white: #ffffff;
  --color-gray-1: #9c9090;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: var(--font-display);
  line-height: 1.6;
  /* background-color: #f4f1f1; */
}
